@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 8rem;
  color: white;
  justify-content: center;
  align-items: center;
  line-height: 80%;
  animation: blink 2.5s steps(10, start) infinite;
-webkit-animation: blink 2.5s steps(10, start) infinite;
}

@keyframes blink {
50% {
  opacity: 30%;
}
}

@-webkit-keyframes blink {
50% {
  opacity: 30%;
}
}

span {
  justify-content: center;
}
